html, body {
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#coordinate-box {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 1000;
    pointer-events: none; /* Prevent interference with map interactions */
}